.nav{
    display: flex;
    position: sticky;
    z-index: 10;
    padding: 20px 15px;
    flex-direction: column;
    background-color: white;
    border-right: 1px solid rgb(143, 143, 143);
    height: 100vh;
    transition: 0.5s;
    width: 15vw;
}

.logo{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.logo svg{
    color: #AD241B;
    cursor: pointer;
    height: 20px;
}

.logo small{
    color: black;
    font-weight: 700;
    font-size: 1.0rem;
}

.items{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
}

.items a{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.iconActive{
    cursor: pointer;
    transition: 0.5s;
}

.iconInactive{
    cursor: pointer;
    transition: 0.5s;
}

.iconActive svg{
    color: #AD241B;
    height: 23px;
}

.iconActive small{
    color: black;
}

.iconInactive svg{
    color: rgba(0, 0, 0, 0.336);
    height: 23px;
}

.iconInactive:hover svg{
    color: black;
    transition: 0.5s;
}

.iconInactive:hover small{
    color: black;
    transition: 0.5s;
}

.iconInactive small{
    color: rgba(0, 0, 0, 0.336);
}

.items small{
    font-size: 1.0rem;
    font-weight: 400;
    margin-left: 10px;
}

