.search{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid rgb(107, 107, 107);
    border-radius: 15px;
}

.search input{
    border: none;
    margin-left: 10px;
    color: rgb(107, 107, 107);
}

.search input:focus{
    border: none;
    outline: none;
}

.icon{
    width: 15px;
    color: rgb(107, 107, 107);
}